__pycache__/
docker/app.py
docker/requirements.txt
docker/data.csv

*bin/*
*obj/*
src/aspnet-legacy/aspnet-legacy.csproj.user
src/aspnet-legacy/.vs/*
src/aspnet-legacy/bin/*
src/aspnet-legacy/obj/*
src/aspnet-legacy/Properties/PublishProfiles/FolderProfile.pubxml.user
**/.terraform/*
**/certs/client/*
**/certs/private/*
**/certs/public/*
*.csr
azure/terraform/dev/tfplan.tf
azure/terraform/dev/devplan.tf
azure/terraform/dev/README.md
